.App {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layout-container {
  padding: 1rem;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form label {
  padding: .5rem;
}

.user-form-level {
  width: 300px
}

.user-form-input {
  width: 300px;
  padding: .4rem;
  margin-top: .5rem;
}

.submit-btn {
  padding: 0.5rem;
  margin: 1.5rem 0.5rem;
}


.nestedDropDown-option {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  cursor: pointer;
}

.navOption-container {
  position: absolute;
  background: #fff;
  border: 2px solid #f0f0f0;
  width: 300px;
  z-index: 99;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.table-list-container {
  min-height: 16rem;
}

.list-container {
  display: flex;
  border-collapse: collapse;
}

.list-option {
  padding: .5rem;
  border: 1px solid #f0f0f0;
  display: inline-block;
  width: 6rem;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  position: relative;
}

.list-option button {
  margin: auto;
  width: 100%;
}

.list-heading {
  font-size: 20px;
  font-weight: 600;
}